{% extends 'tracker/base.html' %}
{% load crispy_forms_tags %}

{% block title_heading %}{% endblock title_heading %} {# Empty block to remove the main title #}
{% block navbar %}{% endblock navbar %}             {# Empty block to remove the navigation bar #}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5">
            <div class="card-header">
                <h3 class="text-center">Login</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block mt-3">Login</button>
                </form>
                <p class="text-center mt-3">
                    Don't have an account? <a href="{% url 'tracker:register' %}">Register here</a> 
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}