{% extends 'tracker/base.html' %}

{% block title %}Delete Category{% endblock %}

{% block content %}
    <h1>Delete Category</h1>
    <p>Are you sure you want to delete the category: "{{ category.name }}"?</p>
    <p class="text-danger">All transactions associated with this category will have their category set to "None".</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="{% url 'category_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
