{% extends 'tracker/base.html' %}

{% block title %}Transactions{% endblock %}

{% block content %}
    <h1>Transaction List</h1>
    <a href="{% url 'add_transaction' %}" class="btn btn-primary mb-3">Add Transaction</a>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Type</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.get_type_display }}</td>
                <td>{{ transaction.category|default:"N/A" }}</td>
                <td>{{ transaction.amount }}</td>
                <td>
                    <a href="{% url 'edit_transaction' transaction.pk %}" class="btn btn-sm btn-info">Edit</a>
                    <a href="{% url 'delete_transaction' transaction.pk %}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
